<div class="description">
  {% if page.title == 'Group' %}
    <span style="color:blue; white-space:nowrap;">{{ page.description }} Call for undergraduate/master/Ph.D. students and PostDocs. If you are interested in Industrial Cyber-Physical Systems and Intelligent unmanned system, welcome to join us: ruonan.liu@sjtu.edu.cn.</span>
  {% else %}
    {{ page.description }}
  {% endif %}
</div>
